.pageAboutUs {
  height: 100vh;
  background-image: url("./pexels-jaime-reimer-2662116.jpg");
  background-position: center;
  background-size: 100%;
}

.globalContainer {
  width: 70em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffa9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
  transition: 2s;
}

.globalContainer:hover {
  background-color: #ffffff;
}

.textContainer {
  text-align: center;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 3em;
  margin-top: 5em;
}

.textContainer p {
  text-align: justify;
  font-size: 1rem;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.titleTeam {
  margin-bottom: 1em;
}

.developer {
  margin-right: 2em;
  margin-bottom: 1em;
}
