.filtercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  margin-bottom: 7vh;
}

p {
  font-size: 2.5rem;
  font-weight: 800;
}

input {
  all: unset;
  width: 30vw;
  min-height: 5vh;
  margin: auto;
  border-radius: 30px;
  color: black;
  font-family: Outfit;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid black;
  color: #f54f29;
  background-color: #ffd393;
  padding-left: 1rem;
}

/* article destination */
.containerdestination {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  border-radius: 25px;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #f54f29;
  font-size: 3rem;
  font-weight: 700;
  /* border: 2px solid black; */
  transition: all 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}
.paris {
  background-image: url(../../assets/img/paris.jpg);
  background-size: cover;
}
.marseille {
  background-image: url(../../assets/img/marseille2.jpg);
  background-size: cover;
}
.nice {
  background-image: url(../../assets/img/nice.jpg);
  background-size: cover;
}
.montpellier {
  background-image: url(../../assets/img/montpellier.jpeg);
  background-size: cover;
}
.lyon {
  background-image: url(../../assets/img/lyon.jpg);
  background-size: cover;
}
.saint-tropez {
  background-image: url(../../assets/img/saint-tropez.webp);
  background-size: cover;
}
