.filtercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  margin-bottom: 7vh;
  position: relative;
  top: 50%;
  font-family: 'Kanit', sans-serif;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
}

.searchBar{
 
  all: unset;
  width: 30vw;
  min-height: 5vh;
  margin: 50px auto;
  border-radius: 30px;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  border: 2px solid black;
  color: black;
  
  padding-left: 1rem;
}

/* article destination */


.containerdestination {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  border-radius: 25px;
  height: 25vh;
  width: 25vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #f54f29;
  font-size: 3rem;
  font-weight: 700;
   border: 2px solid black; 
  transition: all 0.5s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none;
}