.navContainer {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background: #ffd393;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer h2 {
  margin-left: 2em;
  color: #f54f29;
}

.buttonList {
  height: 70px;
  display: flex;
  align-items: center;
  list-style-type: none;
  z-index: 200;
  color: #f54f29;
}

.linkBtn,
.linkBtn:hover {
  text-decoration: none;
  color: inherit;
}

.navBtn {
  cursor: pointer;
  margin-right: 5em;
  text-decoration: none;
}
