.navContainer {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  background: #a3b4ea;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kanit", sans-serif;
}

.navContainer h2 {
  margin-left: 2em;
  color: #000000;
}

.buttonList {
  height: 70px;
  display: flex;
  align-items: center;
  list-style-type: none;
  z-index: 200;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.linkBtn,
.linkBtn:hover {
  text-decoration: none;
  color: black;
}

.navBtn {
  cursor: pointer;
  margin-right: 5em;
  text-decoration: none;
}
